div.sidebar
    div.logo-content
        div.logo
            i.bx.bxl-c-plus-plus
            div.logo-name Evangel
        i.bx.bx-menu#btn
    ul.nav-list
        ul.nav-list
            li
                a(href="index.html")
                    i.bx.bx-user
                    span.links-name Home
                span.tooltip Home
            li
                a(href="page-html.html")
                    i.bx.bx-grid-alt
                    span.links-name Page-1
                span.tooltip Page-2
            li
                a(href="page-css.html")
                    i.bx.bx-grid-alt
                    span.links-name Page-4
                span.tooltip Page-4
            li
                a(href="javascript-page.html")
                    i.bx.bx-grid-alt
                    span.links-name Page-5
                span.tooltip Page-5
    div.profile-content
        div.profile
            div.profile-details
                img(src="assets/kh.gif", alt="")
                div.name-job
                    div.name #{user.name}
                    div.job Web developer
            a.logout-btn(href="api/v1/users/logout")
                i.bx.bx-log-out#logout

