/* ************************* */
/* Content Header SECTION */
/* ************************* */
.home-content {
    background: rgb(24, 23, 25);
    background: linear-gradient(180deg, rgba(24, 23, 25, 1) 0%, rgba(28, 29, 30, 1) 41%, rgba(40, 41, 38, 1) 100%);
}

.content-top-bar {
    height: 100px;
    display: flex;
    align-items: center;
    /* background-color: rgb(120, 120, 120); */
    padding: 40px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 20px;
}

.top-bar-title {
    font-size: 36px;
    font-weight: 600;
}

.left-side {
    display: flex;
    gap: 8px;
    margin-left: auto;

}

.search-bar {
    height: 48px;
    width: 235px;
    padding: 15px;
    color: #cacaca;
    border-radius: 55px;
    background-color: #fff;
}

.notifications {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    /* background-color: rgb(141, 85, 85); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-card {
    height: 48px;
    width: 195px;
    display: flex;
    gap: 10px;
    padding: 5px;
    background-color: rgb(25, 25, 25);
    border-radius: 24px;
    cursor: pointer;
}

.user-profile-card .user-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info-name {
    font-size: 16px;
}

.user-info-occupation {
    font-size: 14px;
    color: #acacacce;
    margin-bottom: 0;
}

/* ************************* */
/* Content Sub Header SECTION */
/* ************************* */

.content {
    display: flex;
    flex-direction: column;
}

.overview {
    height: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 40px;
    margin-bottom: 15px;
}

.overview-title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}

.overview-cards {
    height: 300px;
    display: flex;
}

.overview-card {
    height: 196px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 35px;
    background-color: #d8d7d7;
}

.Home-content {
    height: 100vh;
    /* Fixed height */
    overflow-y: auto;
    /* Shows vertical scrollbar only if the content overflows */
    border: 1px solid #ccc;
    /* Optional: just to visually delineate the div */
}


.content-container {
    display: flex;
    height: 100vh;
}

.revenue {
    display: flex;
    gap: 2%;
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 35px;
}

.revenue-view {
    height: 450px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: #d8d7d7;
}

.placeholder-ad {
    height: 450px;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #d8d7d7;
}


/* Activities */

.activities {
    display: flex;
    gap: 2%;
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 45px;
}

.recent-activites {
    height: 450px;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #d8d7d7;
}

.recent-invoices {
    height: 450px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: #d8d7d7;
}

.logout-btn {
    cursor: pointer;
}